<header class="header">
    <h1>Photogram</h1>
</header>

<div class="container">
    <h1>Thank you {{name}} for joining Photogram</h1>
    <div class="profile" >
        <img src="images/default.png" alt="Failed to load image">
        <div class="user-info">
            <p>Display name:</p>
            <h3>{{name}}</h3>

            <p>User email</p>
            <h5> {{email}} </h5>

            <button class="btn">Update profile</button>
        </div>
    </div>
</div>
